<header class="text-left">
    <h1>Product Details</h1>
</header>

<hr />
<div class="card border-primary" style="width:60rem">
    <img class="card-img-top" alt="Avatar" style="width: 100%;" [src]="product.imageUrl" />
    <div class="card-body">
        <div *ngIf="product">
            <p><b>Name: </b> {{product.productName}}</p>
            <p><b>Description: </b> {{product.productDescription}}</p>
            <p><b>Price: </b> {{product.unitPrice|currency:'INR'}}</p>
            <p><b>Category: </b> {{product.productCategory}}</p>
        </div>
        <br>
        <div class="row">
            <button (click)="home()" class="btn btn-primary">Back to Home Page</button><br>
            <button class="btn btn-success">Add to cart</button>
        </div>
    </div>
</div>