<h2>Product Details</h2>

<hr />
<div *ngIf="product">
    <div>
        <label><b>Product Name: </b></label> {{product.productName}}
    </div>
    <div>
        <label><b>Description: </b></label> {{product.productDescription}}
    </div>
    <div>
        <label><b>Price: </b></label> {{product.unitPrice|currency:'INR'}}
    </div>
    <div>
        <label><b>Category: </b></label> {{product.productCategory}}
    </div>
</div>

<br>
<br>
<div class="row">
    <button (click)="home()" class="btn btn-primary">Back to Home Page</button><br>
    <button class="btn btn-success" style="width: 110px">Add to cart</button>
</div>