<div class="card mb-3 border-primary">
  <img class="card-img-top" width="50%" [src]="productItem.imageUrl" />

  <div class="card-body">
    <p class="card-text text-success">
      <strong>{{ productItem.unitPrice | currency:'INR' }}</strong>
    </p>
    <p class="card-text">{{ productItem.productName }}</p>
      <div class="btn-group">
        <button type="button" class="btn-1">Add to Cart</button>&nbsp;
        <button type="button" (click)="detailsForCustomer()" class="btn-2">View Details</button>
      </div>
  </div>
</div>